@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');



*{
    margin: 0;
    padding: 0  ;
    color: rgb(84, 163, 216);

}

body{
    background-color: rgb(10, 10, 51);

}



.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 500px;
}
.image {
    text-align: center;
    width: 300px; 
}
.image img {
    max-width: 100%;
    height: auto;
    
}

.container{
    margin-top: 50px;
}

.container1{
    display: flex;
    width: 100%;
    min-height: 70px;
    background-color: rgb(5, 5, 34);


}

.box2{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    
}

.box3{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    
}

.art{
    width: 70px;
    margin-left: 10px;
}

h2{
    font-family: "Advent Pro", sans-serif;

}

.image{
    width: 500px;
    margin-top: 100px;
}

p{
    width: 500px;
    border-style: solid;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
}

input{
    margin: 10px;
    background-color: transparent;
    border-style: solid;
    border-color: rgb(84, 163, 216);
    padding: 10px;
    cursor: pointer;
}
.box{
    display: flex;
    justify-content: center;
}

